# --- RabbitMQ ---
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=climate.iot
RABBITMQ_QUEUE=climate.sensor.records
RABBITMQ_ROUTING_KEY=sensor.record
RABBITMQ_CONSUME_TIMEOUT_SECONDS=120

# --- Simulación IoT ---
CSV_SOURCE_PATH=/home/src/data/global_climate_energy_2020_2024.csv
SENSOR_CAPTURE_INTERVAL_SECONDS=10
SENSOR_MAX_ROWS=5

# --- API ESIOS (solicitar token en https://www.esios.ree.es/es/pagina/api) ---
ESIOS_API_URL=https://api.esios.ree.es
ESIOS_API_KEY=tu_token_esios_aqui
ESIOS_INDICATOR_ID=1001

# --- Elasticsearch LOCAL ---
ELASTICSEARCH_HOSTS=http://elasticsearch:9200
ELASTICSEARCH_INDEX=climate_energy_iot
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD=changeme

# --- Elasticsearch AZURE (Elastic Cloud) ---
# ELASTICSEARCH_CLOUD_ID=tu_deployment:base64...
# ELASTICSEARCH_API_KEY=tu_api_key
# ELASTICSEARCH_HOSTS=https://tu-cluster.es.westeurope.azure.elastic-cloud.com

# --- Kibana ---
KIBANA_URL=http://localhost:5601
